*, *::before, *::after {
	box-sizing: border-box;
}

* {
	margin: 0;
	padding: 0;
  font: inherit;
}

:root {
  font-family: "Red Hat Text", sans-serif;
  font-size: 16px;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
	border: none;
	background: none;
  cursor: pointer;
}

img, picture, svg, video{
	/* max-width: 100%; */
	height: auto;
	vertical-align: middle;
}

body {
  /* Colors */
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose50: hsl(20, 50%, 98%);
  --rose100: hsl(13, 31%, 94%);
  --rose300: hsl(14, 25%, 72%);
  --rose400: hsl(7, 20%, 60%);
  --rose500: hsl(12, 20%, 44%);
  --rose900: hsl(14, 65%, 9%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);

  min-height: 100dvh;
  background-color: var(--rose50);
}

#app {
  display: flex;
  justify-content: center; 
}

.text1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 120%;
}

.text2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 125%;
}

.text3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.text4 {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.text4bold {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}
